#cy{
    float:left;
    width: 50%;
    height: 95vh;
    border: 2px solid gray;
    display: block;
}

.container{
    width: auto;
    overflow: hidden;
}

#detalleMateria{
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 150%;
}